# Built files
*.apk
*.aab
*.ap_

# Kotlin/Java
*.class
*.kotlin_module

# Android Studio
*.iml
.gradle
.idea/
local.properties

# Build
build/
captures/
.externalNativeBuild
.cxx/

# OS files
.DS_Store
Thumbs.db

# Keystores - ВАЖНО!
*.jks
*.keystore

# Firebase/Google services
google-services.json